header{
    height: 80px;
}

header > nav{
    height: 100%;
}

main{
    height: calc(100vh - 80px);
}

.ms_logo-box{
    width: 80px;
    padding-top: 0.5rem;
}

.ms_logo{
    width: 100%;
}

.fa-bell{
    color: #FF8F00;
    font-size: 20px;
}

.ms_d-none{
    display: none;
}

.ms_search-bar-color{
    background-color: #E5E5E5;
}

aside{
    width: 80px;   
    background-color: #041E34;
    background-image: url(../img/sidebar-bg.png);
}

aside ul > li{
    list-style: none;
}

li i{
    font-size: 20px;
    color: white;
}

.ms_sidebar-top{
min-height: 90%;
}

.ms_sidebar-bottom{
    font-size: 30px;
}

.ms_p{
    padding-left: 20px;
}

.content{
    width: calc(100% - 80px);
    overflow-y: scroll;
}

.ms_bg-blue{
    background-color: #1D72E8;

}

.ms_pill-blue{
    background-color: #165BBA;
}

.ms_img-table{
    width: 20px;
    display: inline-block;
}

.ms_size-img-table{
    width: 100%;
}

#offcanvasRight{
    width: 100%;
}

aside li:hover a{
    background-color: #838F97;
}


/* RESPONSIVE */
@media all and (min-width: 992px) {

    header{
        padding: 1rem;
    }

    .ms_logo-box{
     width: 150px;
     padding-top: 0.5rem;
   }

   .ms_logo-desktop{
    width: 100%; 
    }

    .ms_d-none{
        display: inline-block;
    }

    .ms_none-lg{
        display: none;
    }

    aside{
        width: 100px;
    }

    .content{
        width: calc(100% - 100px);
    }

    .ms_p{
        padding-left: 10px;
    }

    .ms_sidebar-bottom{
        font-size: 20px;
    }

    #offcanvasRight{
        width: 40%;
    }    
}